<%- include('../partials/header.ejs') %>

<form>
    <div class="card-body-show">
        <% if (cohort.logoURL) {%>
        <img src="<%= cohort.logoURL %>" class="show-logo" alt="Cohort Logo">
        <% } %>
        <div class='card-body'>
            <h4 class="card-title"><%= cohort.name %></h4>
            <p class="card-text"><%= cohort.members %></p>
        </div>
        <div class='card-body'>
            <p class="card-text">Method</p>
            <form action='/cohorts/<%= cohort.id %>' method="GET">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="_method" value="teamCount" id="teamCount">
                <label class="form-check-label" for="teamCount">
                    Team Count
                </label>               
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="_method" value="numberPerTeam" id="numberPerTeam">
                <label class="form-check-label" for="numberPerTeam">
                    Number Per Team
                </label>
            </div>
        </div>
        <div class='card-body'>
            <p class="card-text">Quantity</p>
            <input class="form-control" type="number" placeholder="e.g. 2" id="quantity" aria-label="quantityNumber">
        </div>
        <div class="d-grid gap-2 card-body">
            <button class="btn btn-outline-primary" type="submit">Assign Teams</button>
        </div>
        </form>
        <br><br>


        <% const members = cohort.members; %>
        <% const memberArr = members.split(','); %>

        <% if (_method === "teamCount") { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Members</th>
                    </tr>
                </thead>
                <tbody>
                    <% let team = utils.teamCount(memberArr, quantity) %>
                    <% let numTeams = utils.numTeams(memberArr, quantity) %>
                    <% for (let i = 0; i < team.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= team[i] %></td>
                        </tr>
                    <% } %>     
                </tbody>
            </table>
        <% } else if (_method === "numberPerTeam") { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Members</th>
                    </tr>
                </thead>
                <tbody>
                <% let team = utils.numberPerTeam(memberArr, quantity) %>
                <% for (let j = 0; j < team.length; j++) { %>
                    <tr>
                        <td><%= j + 1 %></td>
                        <td><%= team[j] %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>  
        <% } %>
    </div>
</form>

<%- include('../partials/footer.ejs') %>

